<%= simple_form_for :search, { :url => profiles_path, :method => 'get' } do |f| %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search], :class => "input-medium" %>
    <%= submit_tag "Search", :name => nil, :class => "btn" %>
  </div>
<% end %>