<h1>Search results</h1>

<%= render :partial => "profiles/search" %>

<p>
<% if @search.length == 0 %>
  Your search returned no results.<br>
  Remember private profiles dont show up in searches
<% else %>
  <% @search.each do |profile| %>
    <%= link_to(profile.name, profile_path(profile.id)) %> - <%= profile.one_liner %><br>
  <% end %>
<% end %>
</p>