<h1>
  Honymous
</h1>
<p class="lead">
  Honest and Annymous comments
</p>

<%= render :partial => "profiles/search" %>

<%= @profile_count %> Profiles Online<br>


<%= Comment.all.length %> Comments<br>
<%= Counter.all.length %> Counter<br>
