<div class="row">
   <div class="span8 offset4">
    <h1>
      Honymous
    </h1>
    <p class="lead">
      Honest and Anonymous comments
    </p>
    <%= render :partial => "profiles/search" %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>
      What is Honymous?
    </h3>
    <p>
      This is a mini social network of sorts. A place where You, a user can come and make a profile page to encourage feedback from your peers. You can ask for specific questions that you want answered, or you can cast a wide net for what you might find helpful. Your peers can then pop on anonymously and respond. What they may say could brighten up your day, or bring some perspective to the conversation.
    </p>
  </div>
  <div class="span4">
    <h3>
       What is this voting?
    </h3>
    <p>
      A voting system is in place to help moderate the anonymous comments. It allows each person to vote once on a comment that they feel strongly about. If in the event that "Mary" just got a hair cut and her ex-boyfriend chimes in with something mean, all of her friends can vote down the comment and it will be discredited by the community around Mary.
    </p>
  </div>
  <div class="span4">
    <h3>
      Who made this?
    </h3>
    <p>
      It was me, Christopher Fryman. I am Jr Developer graduating from the <a href="http://nashvillesoftwareschool.com/">Nashville Software School</a>. The goal of this project was to showcase the skills that I learned through the six-month boot camp. It was a project that I thought would be fun and that people might like to play around with.
    </p>
    <p>
      If you like it and want to hire me I am available for the time being. Take a look at my <a href="github.com/farfromguam">Github repository</a>, and my <a href="linkedin.com/in/cfryman">linkedin profile</a>. Lets talk.
    </p>
  </div>
</div>